/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the background color for the body */
body {
  background-color: #f4f4f4;
  font-family: 'Arial', sans-serif; /* Use a common sans-serif font */
  line-height: 1.6;
}
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
header img {
  float: left; 
  max-width: 80%; 
  height: auto;
  color: #fff;
} 
nav {
  padding-top: 95px;
  display: flex;
  justify-content: space-between;
  
}
/* Style for the navigation bar (adjust as needed) */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 70px; /* Adjust the spacing between navigation items */
}

/* Style the main content */
.grid {
  max-width: 840px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

main {
  padding: 20px;
}

h2 {
  color: #333;
}

/* Style the call-to-action section */
section {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Style the trip descriptions */
.trip-description {
  margin-bottom: 30px;
}

.trip-description h2 {
  color: #333;
}

.trip-description img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 15px;
}

.trip-description p {
  margin-top: 15px;
  color: #555;
}

/* Style the table of available trips */
.trip-table {
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: #fff;
}

/* Style the footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

/* Style social media icons */
footer a {
  margin-right: 10px;
}

footer img {
  width: 30px;
  height: 30px;
}




 
